@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Smythe&display=swap");
/* font-family: 'Inter', sans-serif; */
/* font-family: 'Smythe', cursive; */
*,
::after,
::backdrop {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --btn-bg: rgba(22, 219, 153, 1);
  --btn-hover: rgb(2, 162, 109);
}

img {
  width: 75px;
  /* width: 100%; */
}

button {
  border: none;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  border-radius: 3px;
}

.body {
  margin-top: 20px;
  background-color: #ffe4e6;
  font-family: "Smythe", cursive;
  font-size: 1.7rem;
}

main {
  background-color: rgb(255, 255, 255);
  min-height: 77vh;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-radius: 0 0 3px 3px;
}

/*******
Typography
*******/
h1 {
  margin-bottom: 19px;
  line-height: 24px;
  font-size: 3.4rem;
}

h2 {
  font-size: 2.24rem;
  line-height: 14px;
}

.container {
  max-width: 600px;
  /* min-height: 100vh; */
  margin: 0 auto;
}

.header {
  padding: 2ch 4ch;
  color: white;
  border-radius: 3px 3px 0 0;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: url("./img/beer-bg.jpg");
  background-color: rgb(124, 124, 124);
  background-blend-mode: multiply;
  background-position: 20% center;
  background-size: cover;
}

/*******
  ITEMS
******/
.items--item {
  display: flex;
  align-items: center;
  margin: 0 4%;
  padding: 4% 0;
  border-bottom: 1px solid black;
  gap: 6%;
}

.item-name {
  font-size: 2.8rem;
}

.item-desc {
  color: rgba(139, 139, 139, 1);
  font-size: 1.6rem;
}

.item-price {
  font-size: 2rem;
}

.items--item .add-item {
  cursor: pointer;
  margin-left: auto;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 4rem;
  line-height: 35px;
  text-align: center;

  width: 50px;
  height: 50px;
  padding: 4px;
  border: 1px solid black;
  border-radius: 50%;
}

.items--item .add-item::selection {
  background-color: transparent;
}

/*******
  Total 
******/
.total {
  margin: 4%;
}

.total h3 {
  text-align: center;
  font-size: 2.8rem;
  margin: 50px 0;
}

.total--rendering > div {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  gap: 15px;
  font-size: 2.8rem;
}

.total--rendering > div > button {
  font-size: 1.5rem;
  background: none;
  color: rgba(187, 187, 187, 1);
}

.total--rendering > div .total--item-price {
  margin-left: auto;
}

.total--p {
  border-top: 1px solid black;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 2.8rem;
}

.total--btn {
  margin-top: 50px;
  width: 100%;
  background-color: var(--btn-bg);
  font-weight: 700;
  padding: 22px 0;
}

.total--btn:hover,
.total--btn:active {
  background-color: var(--btn-hover);
}

/* After purchase modification */
.total--btn.morph {
  background-color: #cbffe7;
  color: #065f46;
  padding: 20px;
}

.total--btn.morph:hover,
.total--btn.morph:active {
  background-color: #cbffe7;
  color: #065f46;
  cursor: default;
}

/*******
  FORM 
******/
.modal-container {
  display: none;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(89, 255, 47, 0.02);
}

.form {
  width: 75%;
  margin: 100px auto;
  display: flex;
  gap: 23px;

  flex-direction: column;
  height: fit-content;
  border-radius: 6px;
  background-color: #fff;
  padding: 35px;

  box-shadow: 6px 3px 87px 28px rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: 6px 3px 87px 28px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 6px 3px 87px 28px rgba(0, 0, 0, 0.76);
}

@media (max-width: 500px) {
  .form {
    max-width: 525px;
    margin: 100px 35px;
  }
}

.form input {
  padding: 15px;
  width: 100%;
  height: 52px;
  border-radius: 3px;
}

.form button {
  padding: 15px;
  background-color: var(--btn-bg);
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  transition: 50ms ease-in-out;
}

.form button:active,
.form button:hover {
  background-color: var(--btn-hover);
}

.form input.invalid {
  border: 1px solid rgba(255, 0, 0, 0.789);
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  /* from csstricks */
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
